/* Fonte e reset */
* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background: #fffaf0;
}

/* Header */
header {
  background: #c0392b;
  padding: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}

/* GRID CENTRALIZADO DE VERDADE */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);   /* 4 colunas fixas do tamanho do card */
  justify-content: center;                   /* centraliza TODA a grade */
  justify-items: center;                     /* centraliza cada card */
  column-gap: 30px;                           /* espaço horizontal pequeno */
  row-gap: 14px;                             /* espaço vertical */
  margin: 0 auto;                             /* centraliza o grid na página */
  padding: 15px;
}

/* CARD */
.card {
  width: 200px;
  background: rgb(207, 207, 207);
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

/* Esconder */
.hidden {
  display: none;
}

/* Botão remover */
.remove-btn {
  background:#e74c3c;
  color:white;
  border:none;
  padding:6px 10px;
  margin-top:5px;
  cursor:pointer;
  border-radius:5px;
}

.remove-btn:hover {
  background:#c0392b;
}

/* Botões gerais */
button {
  cursor:pointer;
  padding:8px 12px;
  border:none;
  border-radius:5px;
  background:#2980b9;
  color:white;
}

button:hover {
  background:#1f5f87;
}
